body {
    background-color: rgb(159, 234, 209);
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

h1 {
    font-size: 24px;
    color:brown
}

p {
    font-size: 16px;
    color: white;
}

ol, ul {
    color: rgb(255, 255, 255);
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    background-color: blue;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 0px 50px 0px 0px;
}

header a i {
    color: white;
    font-size: 20px;
    padding: 10px;
}

header nav ul li a:hover {
    color: rgb(24, 137, 218);
}

header nav ul li:hover {
    background-color: black;
}

header nav ul {
    display: flex;
    gap: 2em;
}

header nav ul a {
    color: white;
}

.seccion-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 50px;
    padding: 50px;
    gap: 50px;
    text-align: center;
    justify-content: center;
    background-color: blueviolet;
}

.acerca-imagen img {
    width: 150px;
    border-radius: 75px;
}

.seccion-1 .acerca-de {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.banner img {
    width: 100%;
}

#servicios {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: brown;
    background-color: white;
}

.seccion-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
    margin: 20px;
    background-color: white;
}

.seccion-2 img {
    width: 300px;
    border-radius: 20px;
    height: auto;
}

.seccion-2 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
    padding: 20px;
    margin: 10px;
    background-color: white;
    align-items: start;
    max-width: 400px;
}

form input {
    padding: 5px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    width: 200px;
}

form select {
    padding: 5px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    width: 200px;
}

form textarea {
    padding: 5px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    width: 350px;
}

form button {
    padding: 10px;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    background-color: rgb(153, 0, 255) ;
    border-color: rgb(78, 2, 69);
    color: white;
}

form button:hover {
    background-color: rgb(78, 2, 69);
    border-color: rgb(153, 0, 255);
}

.divform {
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    width: 400px;
    height: 500px;
    margin: 0 0 0 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 100px;
    padding: 20px;
    margin: 20px;
    background-color: black;
    align-items: baseline;
}

footer h3 {
    color: wheat;
}

footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icono-footer {
    width: 20px;
}

button #btn-generar {
    color: white;
}

footer p #frase {
    color: white;
}

@media (max-width: 768px) {
    .seccion-2 div {
        display: flex;
        flex-direction: row;
    }
}